* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* ----------------------------------First Content----------------------------- */
/* ----------------------------------First Content----------------------------- */
/* ----------------------------------First Content----------------------------- */

#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;

}

.container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.foreground {
    transform: translateZ(-20px) scale(3);

}

.background {
    z-index: -1;
    transform: translateZ(-40px) scale(5);

}

.heading {
    font-size: 10rem;
    top: 8rem;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: 4px;
    position: absolute;
    text-shadow: 2px 2px 2px black;
    color: #ffffff;
    text-shadow: 0, 0, 10px rgba(0, 0, 0, 0.4);

}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}


/* ---------------------------------Second Content -------------------------------- */
/* ---------------------------------Second Content -------------------------------- */
/* ---------------------------------Second Content -------------------------------- */

section {
    background-color: rgb(45, 45, 45);
    color: #fff;
    padding: 5rem 0;
}

.secHeading {
    font-size: 5rem;
    padding: 0 10rem;
}

.text {
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.disc {
    position: absolute;
    background-color: #fff;
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    color: #000;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3.5rem;
    font-weight: 600;
}

.bg {
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.bg1 {
    background-image: url(./img/sport-1.jpg);
}

.bg2 {
    background-image: url(./img/sport-2.jpg);
}

.bg3 {
    background-image: url(./img/sport-3.jpg);
}